body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0e0f1a, #1b1e32);
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    margin-top: 80px;
    padding: 40px;
    width: 420px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0px 0px 20px rgba(0,255,247,0.2);    
}

h1{
    margin-bottom: 10px;
    color: #00f7ff;
}

.subtittle{
    font-size:14px;
    opacity: 0.8;
    margin-bottom: 25px;
}

.upload-box{
    margin: 20px 0;
}

input[type="file"]{
    padding:12px;
    background: #10121c;
    border: 2px dashed #00f7ff;
    border-radius: 10px;
    width: 100%;
    color: #fff;
}

#scanBtn{
    padding: 12px 25px;
    background: #00f7ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #000;
    margin-top: 10px;
    font-weight: bold;
}

#scanBtn:hover {
    background: #00d0d7;
}

#result {
    margin-top: 25px;
    padding: 15px;
    background: rgba(0,255,247,0.08);
    border-radius: 10px;
    display: none;
}